/* -----------------------管理者設定------------------------ */

/* 標題 */

.title {
    margin: 115px auto 50px;
}

/* 按鈕間距 */

.btn {
    margin-right: 15px;
}

/* 表格文字垂直置中 */
.table td, .table th{
    vertical-align: middle;
}