/* 背景顏色 */

body {
    background-color: #f4f6f9;
}

/* 標題 */

.title {
    margin-top: 100px;
    margin-bottom: 50px;
    /* color: #f1b432; */
}

/* 導覽列樣式 */

.nav-tabs {
    border-color: #f1b432;
    margin-bottom: 50px;
}

.nav-tabs .nav-link {
    color: rgba(0, 0, 0, .5);
    margin-left: 50px;
    margin-right: 50px;
}

@media(max-width:800px) {
    .nav-tabs .nav-link {
        color: rgba(0, 0, 0, .5);
        margin-left: 0px;
        margin-right: 0px;
    }
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    transition-duration: 500ms;
    color: #fff !important;
    border-bottom-color: #f1b432;
    background: #F2994A;
    background-image: linear-gradient(120deg,  #fda085  0%, #f6d365 120%);
}

.nav-tabs .navLink .active {
    color: #fff !important;
    border-bottom-color: #f1b432;
    background: #F2994A;
    background-image: linear-gradient(120deg,  #fda085  0%, #f6d365 120%);
}

/* 內容與Footer距離 */

#contentBox {
    margin-bottom: 50px;
    min-height: 500px;
}

/*------------ 帳號維護 --------------*/

/* 按鈕樣式 */

.btn:active {
    box-shadow: none;
}
 
.btnAgree {
    background-color: #f1b432;
    color: #fff;
    box-shadow: rgba(0, 0, 0, .16) 0 2px 5px 0, rgba(0, 0, 0, .12) 0 2px 10px 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btnAgree:hover, .btnAgree:focus {
    color: #fff;
    background-color: #df9f17;
    box-shadow: none;
}

.btnAgree:active {
    background-color: #b8861c;
}

/* 表單樣式 */

.form-control:focus {
    border-color: #f1b432;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fafafa;
}

.form-inline label {
    text-align: right;
    display: inline;
    margin-right: 30px;
}

/* 表單抬頭 */

.formTitle {
    border-bottom: solid 2px #f1b432;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
 
/* 表單背景 */

.formTitleBg {
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    border: solid #e4e8f0;
    border-width: 1px 1px 0px 1px;
    box-shadow: rgba(0, 0, 0, .16) 0 2px 5px 0;
    padding-top: 30px;
    margin: 0px;
}

.formBg {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    border: solid #e4e8f0;
    border-width: 0px 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, .16) 0 5px 5px 0;
    padding-top: 30px;
}

/*------------ 訂單查詢 --------------*/

/* 表頭樣式 */

.theadColor {
    background-color: #f1b432;
    color: #fff;
}

.table {
    margin: 20px auto;
}

/* 檢視按鈕樣式 */

.btn-info {
    box-shadow: rgba(0, 0, 0, .16) 0 2px 5px 0, rgba(0, 0, 0, .12) 0 2px 10px 0;
}

/* 訂單表格樣式 */

.tableStyle {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e4e8f0;
    box-shadow: rgba(0, 0, 0, .16) 0 2px 5px 0, rgba(0, 0, 0, .12) 0 2px 10px 0;
    margin-bottom: 20px;
}

.tableStyle td{
    vertical-align: middle;;
}

/*------------ 作品上架 --------------*/
/* 下架按紐 */
.btnOff {
    color: #fff;
    background: #f44336;
    box-shadow: rgba(0, 0, 0, .16) 0 2px 5px 0, rgba(0, 0, 0, .12) 0 2px 10px 0;
}

.btnOff:hover, .btnOff:focus {
    color: #fff;
    background-color: #e24236;
    box-shadow: none;
}

.btnOff:active {
    background-color: #bb2218;
}

/* 上架按紐 */
.btn-primary:hover, .btn-primary:focus {

    box-shadow: none;
}

.btn-primary {
    box-shadow: rgba(0, 0, 0, .16) 0 2px 5px 0, rgba(0, 0, 0, .12) 0 2px 10px 0;
}

