/* 背景顏色 */

body {
    background-color: #f4f6f9;
}


/* -----------------------導覽列------------------------ */

/* 上方LOGO */

.logoNav{
    width: 140px;
    margin-left: 15px;
}
/* 導覽列高度 */

#navBar {
    height: 70px;
    border-bottom: rgba(120, 120, 120, 0.3) 1px solid;
    background-color: #FFF;
}

/* 導覽列連結間距與樣式 */

.navbar-nav {
    margin-left: 20px;
}

.navLink {
    margin: 0 20px 0 20px;
    font-size: 18px;
    letter-spacing:3px;
}

.nav-link:hover {
    transition-duration: 500ms;
    color: #f1b432 !important;
}


/* 管理員帳號名 */

.name {
    padding: 8px;
}

/* 右上登出距離 */

.nav-item {
    margin-right: 30px;
    font-size: 18px;
}

/* 會員/管理者姓名樣式 */
.dropdown a{
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    letter-spacing:3px;
}

.dropdown a:hover {
    transition-duration: 500ms;
    color: #f1b432 !important;
}

/* ----------------TOP鍵----------------------- */

/* 向上箭頭樣式 */

#scrollUp {
    bottom: 75px;
    height: 30px;
    right: 65px;
    width: 30px;
    position: fixed;
    z-index: 999;
    /* display: none; */
}

/* 向上箭頭背景 */

.scrollUpBg {
    background-color: #f1b432;
    bottom: 70px;
    box-shadow: 0 2px 6px 0 rgba(17, 17, 17, 0.5);
    height: 40px;
    right: 60px;
    width: 40px;
    position: fixed;
    z-index: 998;
    opacity: 0;
    transition: 0.7s all ease;
}

/* 顯現向上圖案 */

.active {
    opacity: 1;
}